body {
	background-color: rgb(30, 32, 37);
	color: #f7f7f7;
}
html{
	scroll-behavior: smooth;
}
header h1, header h2{
	padding-right:30;
	display: inline-block;
}

header {
	position: fixed;
	padding-left: 80;
	padding-right: 40;
	background-color: rgb(60,64,72);
	width:100%;
	z-index: 99;
	top:0;
	left: 0;
	max-height: 25vh;
	border-bottom-style: solid;
	border-color: rgb(30, 32, 37);
	border-width: 1px;
}

a:link{
	color: rgb(103,200,230);
	text-decoration: none;
}

a:visited{
	color:rgb(172,128,217);
	text-decoration: none;
}

a:hover,a:active{
	text-decoration: underline;

}

@media only screen and (max-height: 600px) {
	header {
		display: flex;
		align-items: baseline;
	}
	header ul{
		margin-left: 15vw;
		display: inline-block;
	}
}

header ul{
	padding-left: 0;
	list-style-type: none;
	overflow: hidden;
}
header ul li {
	float: left;
	padding-right: 10;
}

header ul li:after {
	margin-left:10;
	content: '|';
}

header ul li:last-child:after {
	content: '';
}

details {
	padding: 0 0;
}

.details-dialog {
	margin: 10% auto; /* 15% from the top and centered */
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 70%;
	z-index: 999;
	color: rgba(255, 255, 255, 1.0);
	background-color: rgb(30, 32, 37);
	padding: 1em;
	box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.1);
	border: none;
}

.details-dialog p, .details-dialog span{
	max-width: 50%;
}

.details-dialog .screenshot{
	position: absolute;
	right: 2%;
	top: 5%;


	max-width: 40%;
	max-height: 90%;
	width:auto;
	height: auto;
}

.portfolio{
	margin-left: 40;
	margin-right: 40;
	padding-top: 20vh;

	display: flex;
	flex-wrap: wrap;

}

.modal {
	display: none;
}

.bio {
	margin-left: 160;
	margin-right: 160;
	padding-top: 200;
	margin-bottom: 80;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.skills,.about{
	background-color: rgb(60,64,72);
	padding: 10;
	padding-top: 1;
}

.skills{
	margin-top:30;
}

.cv {
	border-top-style: solid;
	border-top-color: white;
	border-top-width: 1px;
	padding-top: 40;
	margin-left: 160;
	margin-right: 160;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cv-item{
	width: 40vw;
	padding-top: 10;
	padding-bottom: 10;
	padding-left: 40;
	padding-right: 40;
	margin-bottom: 30;
	background-color: rgb(60,64,72);
}

.contact{
	padding-top: 20;
	padding-left: 80;
	padding-right: 40;
	min-height: 30vh;
	background-color: rgb(60,64,72);
}


.item {
	flex: 1 0 29%; /* explanation below */
	position: relative;
	max-width: 30%;
	margin: 30;
}

.item-img{
	width: 100%;
}

.icon{
	width: 2vw;
	margin-right: 1vw;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;

	background-color: white;
	color:black;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: .2s ease;
	pointer-events: none;
}

.overlay h3,.overlay h4{
	text-align: center;
}


.item:hover .overlay {
	opacity: 0.8;
}

.badge {
	max-height:  15mm;
}

.email{
	font-size: xx-large;
}

*{
	font-family: arial;
}

.dialog-opener {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	margin: 0;
	left: 0;
	top: 0;
	font: inherit;
	color: rgba(0,0, 0, 0);
	background-color: rgba(0,0, 0, 0);
	display: inline-block;
	position: absolute;
	min-width: 100%;
	min-height: 100%;
}

.dialog-opener:checked{
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	cursor: unset;
}


.dialog-opener:hover{
	cursor: pointer;
}

.dialog-opener ~ .details-dialog{
	display: none;
	cursor: unset;

}

.dialog-opener:checked ~ .details-dialog{
	cursor: unset;
	display: block;
	opacity: 1;
}

.details-dialog > button{
	right: 0;
}

#phone-label{
	position: relative;
}
#phone-box{
	display: none;
}

#phone-box:not(:checked) + #phone-label:after{
	content: "[Click Here]";
}
#phone-box:checked + #phone-label:after{
	content: "number";
}